.box {
    width: 80px;
    height: 80px;
    background-color: azure;
    animation: caja_3 5s 4s infinite;
    position: relative;
    border: 2px;
}
@keyframes box {
       0% {
        background-color: blue;
        left: 0px;
        top: 30px;
        color: red;
    }
    100% {
        background-color: chartreuse;
        left: 1100px;
        top: 30px;
    }

}
.caja_2 {
    width: 80px;
    height: 80px;
    background-color: azure;
    animation: caja_3 4s 4s infinite;
    position: relative;
    border: 2px;
}
@keyframes caja_2 {
       0% {
        background-color: blue;
        left: 0px;
        top: 30px;
        color: red;
    }
    100% {
        background-color: chartreuse;
        left: 1100px;
        top: 30px;
    }

}
.caja_3 {
    width: 80px;
    height: 80px;
    background-color: azure;
    animation: caja_3 7s 4s infinite;
    position: relative;
    border: 2px;
}
@keyframes caja_3 {
       0% {
        background-color: blue;
        left: 0px;
        top: 30px;
        color: red;
    }
    100% {
        background-color: chartreuse;
        left: 1100px;
        top: 30px;
    }

}

.contenedor {
    height: 800px;
    width: 800px;
    border: 30px solid green;
    display: grid;
    grid-column: auto;
    gap: 30px;
    left: 500px;
    top: 500px;
    position: relative;
}