@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

:root { /* el (:root) es para variables que se repiten*/
    --main-color: #090040;
    --secondary-color: #D2C1B6; 
    --third-color: #471396;
    --four-color: #B13BFF;
   --white: white ;}
body{
    padding: 0px;
    margin: 0px;
    line-height: 1.5em;
    font-family: "Poppins", sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif;
}

p{
    font-family: "Bitcount Prop Single", system-ui;
}
.menu {
    background-color: var(--main-color); /* color del fondo */
    color: white; /* color de la letra */
    font-size: 14px; /* tamano de la tipografia de la letra */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* tipo letra */
    height: 80px;
}
.menu ul {
    display: flex;
    list-style: none; /* cambiar el estilo de la lista */
    justify-content: right; /* alinear el menu al centro */
}
.menu ul li {
    padding: 20px 20px 20px 20px;
}
.menu ul li a {
    color: var(--secondary-color);
    /* display: block; */
}
.menu ul li a:hover {
    color: var(--third-color);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/*QUIENES SOMOS*/
.quienes-somos {
    display: grid;
    grid-template-columns: auto auto;
}

.img {
    width: 600px;
}

.quienes-somos h2 {
    font-size: 39px;
    color: var(--main-color);
}
.quienes-somos p{
    font-size: 16px;
    color: var(--third-color);
}

.container {
    width: 100%;
}
.container h2 {
    font-size: 39px;
    font-weight: 800px;
}
.center {
    text-align: center;
}

.servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px;
}

.servicios .col {
    border: 1px var(--main-color);
    padding: 25px;
    background-color: var(--main-color);
    color: var(--white);
    border-radius: 15px;
}

.icon {
    font-size: 60px;
    color: var(--four-color);
}